@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background-color: #1c1c1c;
    --main-color: #353535;
    --button-color: #4d4d4d;
    --darkmode-shadow: 255,255,255;

    --lightmode-shadow: 0,0,0;
    --background-color-light: #fff;
    --main-color-light: #bdbdbd;
    --button-color-light: #dcdcdc;
}

html, body, .app, #root {
    width: 100% !important;
    height: 100% !important;
    font-family: 'Roboto', sans-serif;
}